#captain-america-guide {
    width: 400px;
    height: 400px;
    background: url(../guides/captain-america.jpg) no-repeat;
    opacity: .2;
    display: none;
}

#captain-america * {
    position: absolute;
}

#captain-america-rings {
    width: 210px;
    height: 210px;
    background: #154C9C;
    border-radius: 50%;
    box-shadow: 0 0 0 32px #DA1F26,
                0 0 0 64px #FFF,
                0 0 0 96px #DA1F26;
    top: 95px;
    left: 95px;
}

[id^="captain-america-star-"] {
    border: 54px solid transparent;
    border-bottom: 113px solid #FFF;
    top: 42px;
    left: 147px;
    transform-origin: 50% 94% 0;
}

@for $i from 2 through 5 {
    #captain-america-star-#{$i} {
        transform: rotate($i * 72 - 72 + deg);
    }
}